@model blankspaces.Models.MATERIALBIBLIOGRAFICO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MATERIALBIBLIOGRAFICO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINOPSIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINOPSIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOLUMEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOLUMEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDITORIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDITORIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LENGUAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LENGUAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTOR.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTOR.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATERGORIA.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATERGORIA.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENTOLOCALIDAD.LOCACIONOURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENTOLOCALIDAD.LOCACIONOURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPODOCUMENTO.TIPODOCUMENTO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPODOCUMENTO.TIPODOCUMENTO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBCATEGORIA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBCATEGORIA.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMATBIBLIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
